/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'vars';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

header {
  .navbar-default {
    .navbar-brand {
      font-weight: bold;
    }

    .navbar-nav {
      > li > a {
        border-bottom: 3px solid $navbar-default-bg;
        transition: border-bottom-color .4s, border-left-color .4s, color .4s;

        &:hover,
        &:focus {
          border-bottom: 3px solid $navbar-default-link-hover-color;
        }
      }

      > .active > a {
        background-color: transparent;
        border-bottom: 3px solid $navbar-default-link-hover-color;
      }

      > .dropdown.open {
        > a {
          border-bottom: 3px solid $navbar-default-link-hover-color;
          color: $navbar-default-link-hover-color;
        }

        .dropdown-menu {
          > li > a {
            background-color: transparent;
            color: $navbar-default-link-color;

            &:hover,
            &:focus {
              background-color: $navbar-default-link-hover-color;
              color: $navbar-default-bg;
            }
          }

          > .active > a {
            &,
            &:hover,
            &:focus {
              background-color: $navbar-default-link-hover-color;
              color: $navbar-default-bg;
            }
          }
        }
      }
    }

    @media(max-width: $grid-float-breakpoint) {
      .navbar-nav {
        > li > a {
          border-bottom: 0;
          border-left: 3px solid $navbar-default-bg;
          &:hover,
          &:focus {
            border-bottom: 0;
            border-left: 3px solid $navbar-default-link-hover-color;
          }
        }

        > .active > a {
          border-bottom: 0;
          border-left: 3px solid $navbar-default-link-hover-color;
        }

        > .dropdown.open {
          > a {
            border-bottom: 0;
            border-left: 3px solid $navbar-default-link-hover-color;
            color: $navbar-default-link-hover-color;
          }
        }
      }
    }



    .navbar-toggle {
      border-color: $navbar-default-toggle-border-color;

      .icon-bar {
        background-color: $navbar-default-toggle-icon-bar-bg;
      }

      &:hover,
      &:focus {
        background-color: $navbar-default-toggle-hover-bg;
        border-color: $navbar-default-link-hover-color;

        .icon-bar {
          background-color: $navbar-default-link-hover-color;
        }
      }
    }
  }
}
