/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';


$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$brand-base:            #428bca;
$brand-primary:         darken($brand-base, 6.5%); // #337ab7
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

$body-bg: #fff;
$text-color: $gray-dark;

$link-color: $brand-primary;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;

header {
  .navbar .navbar-brand {
    color: $brand-primary;
    font-weight: bold;

    &:hover {
      color: $brand-primary;
    }
  }

  .navbar-default {
    .navbar-brand {
      color: $brand-primary;
      font-weight: bold;
    }
  }
}
