/*
 *= require_self
 */

@import 'vars';
@import 'devise-vars';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'provider-buttons';

body {
  display: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .2;
    background-image: url($devise-bg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}

.form-container {
  width: 375px;
  margin: 0 auto;
  text-align: center;

  .error-messages {
    text-align: left;
  }

  @media(max-width: 404px) {
    width: 100%;
  }

  .logo {
    margin: 90px 0 30px;
    color: $brand-primary;
    font-weight: bold;
  }

  .subtitle {
    margin: 0 0 20px;

    p {
      margin-top: 5px;
      margin-bottom: 10px;
      color: lighten($text-color, 25%);
    }
  }

  .navs {
    margin-bottom: 15px;

    a {
      display: inline-block;
      width: 4em;
      border-bottom: 3px solid $opaque-color;
      color: $navbar-default-link-color;
      font-size: 18px;
      text-decoration: none;

      &:hover,
      &:focus,
      &.active {
        border-bottom-color: $navbar-default-link-hover-color;
        color: $navbar-default-link-hover-color;
      }
    }
  }

  .links-line {
    @include clearfix;
    margin-bottom: 10px;

    .checkbox {
      margin: 0;
      float: left;
      color: $navbar-default-link-color;
    }

    .troubles-link {
      margin: 0;
      float: right;
      > a {
        color: $navbar-default-link-color;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $navbar-default-link-color;
        }
      }
    }
  }

  .omniauth-data-line {
    @include clearfix;
    margin-bottom: 10px;

    .checkbox {
      margin: 0;
      float: left;
      color: $navbar-default-link-color;
    }

    img {
      width: 20px;
      height: 20px;
      margin: 0 3px;
    }
  }

  .social-buttons {
    margin-top: 30px;

    .divider {
      h6 {
        display: inline-block;
        margin: 0;
        color: $navbar-default-link-color;
      }

      &::before,
      &::after {
        content: '';
        display: inline-block;
        width: 70px;
        height: $font-size-h6 * $headings-line-height / 2 - 1;
        border-top: 1px solid $navbar-default-link-color;
      }

      &::before {
        margin-right: 10px;
      }

      &::after {
        margin-left: 10px;
      }
    }

    ul {
      margin-top: 13px;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin: 0 3px;
      }
    }
  }

  .help-block {
    text-align: left;
  }

  .sign-buttons {
    margin: 20px 0;
  }
}
