/*
 *= require_self
 */

@import 'vars';
@import 'devise-vars';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'iconfonts';

$social-icon-color:  #fff;

body {
  display: relative;

  &:after {
    content: '';
    background-image: url($devise-bg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.form-container {
  margin: 0 auto;
  text-align: center;
  width: 375px;

  .error-messages {
    text-align: left;
  }

  @media(max-width: 404px) {
    width: 100%;
  }

  .logo {
    color: $brand-primary;
    font-weight: bold;
    margin: 90px 0 30px;
  }

  .subtitle {
    margin: 0 0 20px;

    p {
      margin-top: 5px;
      margin-bottom: 10px;
      color: lighten($text-color, 25%);
    }
  }

  .navs {
    margin-bottom: 15px;

    a {
      border-bottom: 3px solid $body-bg;
      color: $navbar-default-link-color;
      display: inline-block;
      font-size: 18px;
      text-decoration: none;
      width: 4em;

      &:hover,
      &:focus,
      &.active {
        border-bottom-color: $navbar-default-link-hover-color;
        color: $navbar-default-link-hover-color;
      }
    }
  }

  .links-line {
    @include clearfix;
    margin-bottom: 10px;

    .checkbox {
      color: $navbar-default-link-color;
      float: left;
      margin: 0;
    }

    .troubles-link {
      float: right;
      margin: 0;
      > a {
        color: $navbar-default-link-color;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $navbar-default-link-color;
        }
      }
    }
  }

  .social-buttons {
    margin-top: 30px;

    .divider {
      h6 {
        color: $navbar-default-link-color;
        display: inline-block;
        margin: 0;
      }

      &:before,
      &:after {
        border-top: 1px solid $navbar-default-link-color;
        content: '';
        display: inline-block;
        height: $font-size-h6 * $headings-line-height / 2 - 1;
        width: 70px;
      }

      &:before {
        margin-right: 10px;
      }

      &:after {
        margin-left: 10px;
      }
    }

    ul {
      list-style: none;
      margin-top: 13px;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 3px;

        a {
          border-radius: 50%;
          color: $social-icon-color;
          display: block;
          font-size: 24px;
          height: 50px;
          line-height: 50px;
          text-decoration: none;
          width: 50px;
        }
      }
    }
  }

  .help-block {
    text-align: left;
  }

  .sign-buttons {
    margin: 20px 0;
  }
}
