// https://lipis.github.io/bootstrap-social/

$opaque-color: rgba(0, 0, 0, .2);

.btn-provider-icon {
  position: relative;
  width: 34px;
  height: 34px;
  padding: 0;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;

  >:first-child {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 0;
    border-right: 1px solid $opaque-color;
    font-size: 1.6em;
    line-height: 34px;
    text-align: center;
  }
}

.btn-provider-facebook {
  border-color: $opaque-color;
  background-color: #3b5998;
  color: #fff;

  &:hover,
  &:focus {
    background-color: #2d4373;
    color: #fff;
  }
}

.btn-provider-github {
  border-color: $opaque-color;
  background-color: #444;
  color: #fff;

  &:hover,
  &:focus {
    background-color: #2b2b2b;
    color: #fff;
  }
}
