<footer>
  <div class="container">
    <small>
      <a href="https://github.com/w11th">w11th</a>
    </small>
    <nav>
      <ul>
        <li><a href="https://github.com/w11th">My Github</a></li>
      </ul>
    </nav>
  </div>
</footer>
